# ignore complete directories
closed_packages/*
!closed_packages/.keep

images/*
!images/.keep

oss_packages/*
!oss_packages/src/.keep
!oss_packages/dl/.keep

scripts/keys/*
!scripts/keys/.keep

rootfs_staging/*
!rootfs_staging/.keep

working/*
!working/.keep


# ignore single files
rootfs_skeleton/usr/share/build
scripts/cgi-bin/gitweb.conf
