# ignore complete directories
closed_packages/*
!closed_packages/.keep
!closed_packages/container_pcap
!closed_packages/demo_python

images/*
!images/amd64/.keep
!images/armv7/.keep

oss_packages/dl
!oss_packages/dl/.keep

scripts/keys/*
!scripts/keys/.keep

rootfs_staging/*
!rootfs_staging/amd64/.keep
!rootfs_staging/armv7/.keep

working/*
!working/amd64/.keep
!working/armv7/.keep

# ignore single files
rootfs_skeleton/usr/share/build

