# ignore complete directories
closed_packages/*
!closed_packages/.keep
!closed_packages/container_pcap

images/*
!images/.keep

oss_packages/dl
!oss_packages/dl/.keep

scripts/keys/*
!scripts/keys/.keep

rootfs_staging/*
!rootfs_staging/.keep

working/*
!working/.keep


# ignore single files
rootfs_skeleton/usr/share/build

